# ⭐ 1. Importing & Basic Setup

In [ ]:
import pandas as pd

# ⭐ 2. Loading Data
## Load From CSV File

In [ ]:
df=pd.read_csv("employee_data.csv")

In [ ]:
df

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
0,101,Arjun,28,Male,Kochi,Marketing,45000,2019-06-12,3
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
7,108,Asha,30,Female,Bangalore,Marketing,49000,2020-01-20,2
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6
9,110,Nisha,27,Female,Kolkata,HR,47000,2022-04-10,1

## Load From JSON Format

In [ ]:
data=[
  {
    "employee_id": 101,
    "name": "Arjun",
    "age": 28,
    "gender": "Male",
    "city": "Kochi",
    "department": "Marketing",
    "salary": 45000,
    "joining_date": "2019-06-12",
    "experience_years": 3
  },
  {
    "employee_id": 102,
    "name": "Diya",
    "age": 32,
    "gender": "Female",
    "city": "Bangalore",
    "department": "HR",
    "salary": 52000,
    "joining_date": "2018-03-10",
    "experience_years": 5
  },
  {
    "employee_id": 103,
    "name": "Raj",
    "age": 45,
    "gender": "Male",
    "city": "Mumbai",
    "department": "Sales",
    "salary": 68000,
    "joining_date": "2014-11-23",
    "experience_years": 10
  },
  {
    "employee_id": 104,
    "name": "Anu",
    "age": 26,
    "gender": "Female",
    "city": "Kochi",
    "department": "IT",
    "salary": 39000,
    "joining_date": "2021-07-15",
    "experience_years": 1
  },
  {
    "employee_id": 105,
    "name": "Sachin",
    "age": 38,
    "gender": "Male",
    "city": "Delhi",
    "department": "Finance",
    "salary": 73000,
    "joining_date": "2016-09-01",
    "experience_years": 7
  },
  {
    "employee_id": 106,
    "name": "Linda",
    "age": 29,
    "gender": "Female",
    "city": "Kochi",
    "department": "IT",
    "salary": 58000,
    "joining_date": "2019-02-18",
    "experience_years": 4
  },
  {
    "employee_id": 107,
    "name": "Varun",
    "age": 41,
    "gender": "Male",
    "city": "Chennai",
    "department": "Sales",
    "salary": 62000,
    "joining_date": "2015-12-09",
    "experience_years": 8
  },
  {
    "employee_id": 108,
    "name": "Asha",
    "age": 30,
    "gender": "Female",
    "city": "Bangalore",
    "department": "Marketing",
    "salary": 49000,
    "joining_date": "2020-01-20",
    "experience_years": 2
  },
  {
    "employee_id": 109,
    "name": "Vikram",
    "age": 35,
    "gender": "Male",
    "city": "Hyderabad",
    "department": "Operations",
    "salary": 54000,
    "joining_date": "2017-05-27",
    "experience_years": 6
  },
  {
    "employee_id": 110,
    "name": "Nisha",
    "age": 27,
    "gender": "Female",
    "city": "Kolkata",
    "department": "HR",
    "salary": 47000,
    "joining_date": "2022-04-10",
    "experience_years": 1
  }
]
df = pd.DataFrame(data)
df

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
0,101,Arjun,28,Male,Kochi,Marketing,45000,2019-06-12,3
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
7,108,Asha,30,Female,Bangalore,Marketing,49000,2020-01-20,2
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6
9,110,Nisha,27,Female,Kolkata,HR,47000,2022-04-10,1

## Load From Excel File

In [ ]:
df=pd.read_excel("/content/employee_data.xlsx")
df

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
0,101,Arjun,28,Male,Kochi,Marketing,45000,2019-06-12,3
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
7,108,Asha,30,Female,Bangalore,Marketing,49000,2020-01-20,2
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6
9,110,Nisha,27,Female,Kolkata,HR,47000,2022-04-10,1

## ⭐ 3. Basic Inspection

In [ ]:
df.head()

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
0,101,Arjun,28,Male,Kochi,Marketing,45000,2019-06-12,3
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7

In [ ]:
df.tail()

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
7,108,Asha,30,Female,Bangalore,Marketing,49000,2020-01-20,2
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6
9,110,Nisha,27,Female,Kolkata,HR,47000,2022-04-10,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   employee_id       10 non-null     int64
 1   name              10 non-null     object
 2   age               10 non-null     int64
 3   gender            10 non-null     object
 4   city              10 non-null     object
 5   department        10 non-null     object
 6   salary            10 non-null     int64
 7   joining_date      10 non-null     object
 8   experience_years  10 non-null     int64
dtypes: int64(4), object(5)
memory usage: 852.0+ bytes

In [ ]:
df.describe()

       employee_id        age        salary  experience_years
count     10.00000  10.000000     10.000000         10.000000
mean     105.50000  33.100000  54700.000000          4.700000
std        3.02765   6.436873  10625.441167          3.056868
min      101.00000  26.000000  39000.000000          1.000000
25%      103.25000  28.250000  47500.000000          2.250000
50%      105.50000  31.000000  53000.000000          4.500000
75%      107.75000  37.250000  61000.000000          6.750000
max      110.00000  45.000000  73000.000000         10.000000

In [ ]:
df.shape

(10, 9)

In [ ]:
df.columns

Index(['employee_id', 'name', 'age', 'gender', 'city', 'department', 'salary',
       'joining_date', 'experience_years'],
      dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=10, step=1)

## ⭐ 4. Selecting Data

In [ ]:
df["age"]

0    28
1    32
2    45
3    26
4    38
5    29
6    41
7    30
8    35
9    27
Name: age, dtype: int64

In [ ]:
df[["salary", "city"]]

   salary       city
0   45000      Kochi
1   52000  Bangalore
2   68000     Mumbai
3   39000      Kochi
4   73000      Delhi
5   58000      Kochi
6   62000    Chennai
7   49000  Bangalore
8   54000  Hyderabad
9   47000    Kolkata

In [ ]:
df.iloc[0]

employee_id                101
name                     Arjun
age                         28
gender                    Male
city                     Kochi
department           Marketing
salary                   45000
joining_date        2019-06-12
experience_years             3
Name: 0, dtype: object

In [ ]:
df.iloc[2:7]

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8

In [ ]:
df.loc[0]

employee_id                101
name                     Arjun
age                         28
gender                    Male
city                     Kochi
department           Marketing
salary                   45000
joining_date        2019-06-12
experience_years             3
Name: 0, dtype: object

In [ ]:
df.loc[:, "city"]

0        Kochi
1    Bangalore
2       Mumbai
3        Kochi
4        Delhi
5        Kochi
6      Chennai
7    Bangalore
8    Hyderabad
9      Kolkata
Name: city, dtype: object

In [ ]:
df.loc[5:10, ["city", "age"]]

        city  age
5      Kochi   29
6    Chennai   41
7  Bangalore   30
8  Hyderabad   35
9    Kolkata   27

In [ ]:
df[df["age"] > 30]

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6

In [ ]:
df[(df["age"] > 30) & (df["city"] == "Bangalore")]

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5

In [ ]:
df[df["salary"].isin([52000, 73000])]

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7

In [ ]:
df[df["name"].str.contains("Anu")]

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1

In [ ]:
df[(df["salary"] >= 50000) & (df["salary"] <= 60000)]

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6

## ⭐ 6. Sorting

In [ ]:
df.sort_values("age")

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
9,110,Nisha,27,Female,Kolkata,HR,47000,2022-04-10,1
0,101,Arjun,28,Male,Kochi,Marketing,45000,2019-06-12,3
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
7,108,Asha,30,Female,Bangalore,Marketing,49000,2020-01-20,2
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10

In [ ]:
df.sort_values(["age", "salary"], ascending=[True, False])

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
9,110,Nisha,27,Female,Kolkata,HR,47000,2022-04-10,1
0,101,Arjun,28,Male,Kochi,Marketing,45000,2019-06-12,3
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
7,108,Asha,30,Female,Bangalore,Marketing,49000,2020-01-20,2
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10

## ⭐ 7. Handling Missing Values

In [ ]:
df.isnull().sum()

employee_id         0
name                0
age                 0
gender              0
city                0
department          0
salary              0
joining_date        0
experience_years    0
dtype: int64

In [ ]:
df.dropna()

,employee_id,name,age,gender,city,department,salary,joining_date,experience_years
0,101,Arjun,28,Male,Kochi,Marketing,45000,2019-06-12,3
1,102,Diya,32,Female,Bangalore,HR,52000,2018-03-10,5
2,103,Raj,45,Male,Mumbai,Sales,68000,2014-11-23,10
3,104,Anu,26,Female,Kochi,IT,39000,2021-07-15,1
4,105,Sachin,38,Male,Delhi,Finance,73000,2016-09-01,7
5,106,Linda,29,Female,Kochi,IT,58000,2019-02-18,4
6,107,Varun,41,Male,Chennai,Sales,62000,2015-12-09,8
7,108,Asha,30,Female,Bangalore,Marketing,49000,2020-01-20,2
8,109,Vikram,35,Male,Hyderabad,Operations,54000,2017-05-27,6
9,110,Nisha,27,Female,Kolkata,HR,47000,2022-04-10,1